
   .services-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 1080px;
    margin: 0 auto;
  }
  
  .services-heading {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center cards */
  }
  
  .services .card {
    flex: 1 1 calc(33.333% - 20px); /* Adjust the percentage to fit three cards per row */
    box-sizing: border-box;
  }
  
  @media (min-width: 768px) {
    .services-card {
      padding: 40px;
    }
  
    .services-heading {
      font-size: 2.5em;
      margin-bottom: 30px;
    }
  }
  