.contactme {
  max-width: 1080px;
  margin: auto;
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    color: #333;
    font-family: Arial, sans-serif;
    justify-content: space-evenly;
    padding-top: 50px;
  }
  
  .getTouch {
    text-align: center;
    margin-bottom: 20px;
    max-width: 500px;
  }
  
  .get-touch {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
    font-weight: 700;
  }
  
  .description {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .name, .address, .email {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .name-logo, .location, .mail-logo {
    margin-right: 10px;
    font-size: 24px;
    color: #666;
  }
  
  .name-text, .loaction-name, .mail-address {
    font-size: 18px;
    color: #333;
  }
  
  .form {
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .msg-me {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  .inputFields {
    display: flex;
    flex-direction: column;
  }
  
  .inputFields input,
  .inputFields textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
  }
  
  .inputFields input:focus,
  .inputFields textarea:focus {
    border-color: #888;
    outline: none;
  }
  
  .submit-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
  }
  .message-container {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    max-width: 600px;
    margin: auto;
  }
  
  .message-title {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
  }
  
  .message-detail {
    font-size: 1.1em;
    color: #555;
    margin: 5px 0;
  }
  
  .message-text {
    font-size: 1em;
    color: #777;
    margin-top: 15px;
    line-height: 1.5;
  }
  