
.header{
    display: flex;
    justify-content: space-around;
   
    padding: 15px 0px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 1080px;
    margin: auto;

}
.logo{
    width: 50px;
    border-radius: 55%;
}
.logo-div{
    display: flex;
}
.ul{
    display: flex;
   list-style: none;
}
.link{
    padding: 0px 10px;
    font-size: 18px;
    cursor: pointer;
}
a.active-class{
  color: red;
}

/* header.css */
/* 
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.logo-div {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
}

.links {
  display: flex;
}

.ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.link {
  margin: 0 15px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.link:hover {
  color: #ff9800;
} */
