main{
    max-width: 1080px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin: auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 1080px;
}
.about{
    max-width: 500px;
    padding-top: 40px;
}
.bio-data{
    font-size: 17px;
}
.picture{
    max-width: 250px;
    border-radius: 50%;
}
.picture-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.name{
    color: black;
}
.linkiden-btn{
    text-decoration: none;
    
}
.linkiden-btn:hover{
    color: white;

}